@import '~antd/dist/antd.css';

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ant-descriptions-title {
    margin-bottom: 0.5rem;
}

.ant-form-item-label {
    line-height: 30px;
}

.ant-form-item {
    margin-bottom: 5px;
}
